###> symfony/framework-bundle ###
.env.local.php
.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> docker ###
/.docker/data/db/*
!/.docker/data/db/.gitkeep
###< docker ###

###> vagrant ###
/.vagrant
###< vagrant ###

###> ansistrano/deploy ###
ansible/.ssh/*
!ansible/.ssh/.gitkeep
###< ansistrano/deploy ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
###< squizlabs/php_codesniffer ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
