<h3>Welcome by Enabel</h3>

<p>Hi {{ user.fullname }}!</p>

<p>
    an account has just been created for you.
    <br>This account will be available as from 22/01/2018
</p>
<p>
    To verify or change your password, go to: <a href="https://password.enabel.be" target="_blank">Password manager</a>.
    <br>To read your mail, go to:  <a href="https://login.microsoftonline.com" target="_blank">Office 365 webmail</a>.
</p>
<p>
    <u>Your credentials:</u>
    <br>
    <br><b>username/email:</b> {{ user.domainaccount }}
    <br><b>password:</b> {{ user.generatedpassword|raw }}
</p>
Thanks!
