# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: admanager
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    bis_host:           bis.btcctb.net
    bis_port:           ~
    bis_name:           bis
    bis_user:           bisreader
    bis_password:       ~

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_port: 25
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: 7696d10f885f1d31193b245dee654011a96d95b1

    # Active Directory
    domain_controllers: ["MonAD01"]
    base_dn: "dc=ad4dev,dc=local"
    admin_username: ~
    admin_password: ~
    account_suffix: "ad4dev.local"
    mail_domain: "enabel.be"

    # Bis Dir (ldap)
    bis_dir_hosts:
        - bisdir.btcctb.net
    bis_dir_base_dn: ''
    bis_dir_admin_username: adldap
    bis_dir_admin_password: adld@p2018
