{% extends 'base.html.twig' %}

{% block title %}{{ 'New Incident Severity' | trans }} - {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ 'Create new IncidentSeverity' | trans }}</h1>

    {% include 'incident_severity/_form.html.twig' with {'form': form} only %}

{% endblock %}