<div class="footer">
    <div class="container">
        <div class="row col-md-12">
            <div id="footer-text" class="footer-text">
                &copy; <strong><a href="http://www.btcctb.org/" title="BTC-CTB" class="site-name">BTC-CTB</a></strong>
            </div>
        </div>
    </div>
</div>
