<nav class="col-sm-2 col-md-1 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link {% if app.request.get('_route') == 'homepage' %}active{% endif %}" href="{{ path('homepage') }}">My apps</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if app.request.get('_route') == 'my_account' %}active{% endif %}" href="{{ path('my_account') }}">My account</a>
        </li>
    </ul>
    {% if is_granted('ROLE_ADMIN') %}
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link {% if app.request.get('_route') == 'account_ad_list' %}active{% endif %}" href="{{ path('account_ad_list') }}">AD Accounts</a>
        </li>
    </ul>

    {% endif %}
</nav>
