{% extends 'base.html.twig' %}

{% block title %}Incident index{% endblock %}

{% block body %}

    <h1>Incident index</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for incident in incidents %}
            <tr>
                <td>{{ incident.id }}</td>
                <td>
                    <a href="{{ path('incident_show', {'id': incident.id}) }}">show</a>
                    <a href="{{ path('incident_edit', {'id': incident.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('incident_new') }}">Create new</a>

{% endblock %}