{% extends '::layout.html.twig' %}

{% block body %}
    <h1>My apps</h1>
    <h3>Your apps & useful links</h3>
    {% include ':partial:flash.html.twig' %}
    {% include '@App/Application/partial/apps.html.twig' %}
{% endblock %}

{% block title %}
    My apps - {{ parent() }}
{% endblock %}
