{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ 'main.menu.contact.my_country.label'|trans }}</h1>
<h3>{{ 'contact.my_country.title.h3'|trans }}</h3>
{% include '_partial/flash.html.twig' %}
{% endblock %}

{% block title %}
    {{ 'main.menu.application.label'|trans }} - {{ parent() }}
{% endblock %}
